body {
    margin: 50px; 
}
.train-table th,
td {
  display: inline-block;
  width: 20%;
}

.card-header {
    font-weight: bold;
    background-color: lightblue;
}

.row {
    text-align: center;
    margin-left: 50px;
}