body {
    background-image: url(../images/train.jpg);
    margin: 50px; 
    opacity: .9;
}

.card-header {
    font-weight: bold;
    background-color: lightslategrey;
}

.row {
    text-align: center;
    margin-left: 50px;
}